body {
  background: rgb(0, 0, 0);
}
* {
  box-sizing: border-box;
}

div > span {
  color: rgb(212, 146, 3);
}
.spanInPara {
  color: rgb(180, 9, 180);
}

/*--------------------NAVIGATION STYLES-------------------------*/

.grid_container {
  display: grid;
  grid-template-columns: 2vw auto;
  grid-template-rows: auto;
  width: 55vw;
  height: 50vh;
  margin: 20vh auto auto auto;
  font-family: "Cairo", sans-serif;
  font-size: 70%;
}

.grid_container > .grid_item {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: #efedf5;
}

.grid_item_1_Off {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  border-bottom: 0.04vh solid #efedf5;
  background: rgb(180, 9, 180);
}

.grid_item_1_On {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  border-bottom: 0.04vh solid #efedf5;
  background: rgb(250, 8, 250);
}

.grid_item_2_Off {
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(129, 8, 8);
}
.grid_item_2_On {
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(243, 9, 9);
}

.grid_item_3_Off {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(212, 146, 3);
}
.grid_item_3_On {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(243, 219, 8);
}

#contact {
  border-bottom: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-top: 0.04vh solid #efedf5;
}

#about {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-bottom: 0.04vh solid #efedf5;
}
#about:hover {
  opacity: 0.5;
}

#contact_color {
  border-bottom: 0.04vh solid #efedf5;
}
#contact:hover {
  opacity: 0.5;
}

#projects {
  border-right: 0.04vh solid #efedf5;
}
#projects:hover {
  opacity: 0.5;
}

#name {
  grid-area: 1/1 / span 1 / span 2;
  text-align: center;
  border: none;
  font-size: 170%;
  line-height: 110%;
}

#line1,
#line2 {
  display: block;
}

#about_color,
#projects_color,
#contact_color {
  border-right: none;
  border-left: 0.04vh solid #efedf5;
}

#name_color {
  background: black;
  border-left: none;
}

.about_color_animated {
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(180, 9, 180);
  animation-name: aboutColorBrighten;
  animation-delay: 0.6s;
  animation-duration: 0.4s;
}

.projects_color_animated {
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(129, 8, 8);
  animation-name: projectsColorBrighten;
  animation-delay: 0.7s;
  animation-duration: 0.4s;
}

.contact_color_animated {
  border-top: 0.04vh solid #efedf5;
  border-right: 0.04vh solid #efedf5;
  border-left: none;
  background: rgb(212, 146, 3);
  animation-name: contactColorBrighten;
  animation-delay: 0.8s;
  animation-duration: 0.4s;
}

#sub_name {
  display: block;
  font-size: 80%;
}
